
 /* Smartphones (portrait and landscape) ----------- */
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {

    .testimonial-container {
        margin: 0;
        padding: 4rem 0;
    }
    .testimonial-item {
        flex-direction: column-reverse;
        margin: 0;
        padding: .6rem;
    }
    .testimonial-projects img {
        margin: 0;
        height: 197px;
        width: auto;
    }
    .testimonial-items {
        width: 100%;
        margin-top: -4rem;
    }
    .testimonial-items p {
        padding: 0;
        margin-bottom: 1rem;
    }
    .testimonial-item-profile {
        margin: auto;
        width: 50%;
    }
    .testimonial-items img {
        width: 157px;
        height: auto;
    }
    .author {
        font-size: 16px;
    }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
 
@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
    
    .testimonial-container {
        margin: 0;
        padding: 3rem 0;
    }
    .testimonial-item {
        flex-direction: column-reverse;

    }
    .testimonial-projects img {
        margin: 0;
        height: 240px;
        width: auto;
    }
    .testimonial-items {
        width: 100%;
        margin-top: -4rem;
    }
    .testimonial-items img {
        width: 160px;
        height: auto;
    }

    .testimonial-item-profile {
        margin: auto;
        width: 50%;
    }
}

/* Tablets (portrait and landscape) ----------- */
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) {
    
    .testimonials {
        width: 100%;
        padding-bottom: 4rem;
    }
    .testimonial-container {
        margin: 0;
        padding: 4rem 0;
    }
    .testimonial-item {
        padding: 1rem 2rem;
        margin: 0 2rem;
    }
    .testimonial-items {
        width: 60%;
        margin-left: 3rem;
    }
    .testimonial-item-text {
        padding: 2rem;
    }
    .author {
        padding-top: 0;
        text-align: center;
    }

}